.btn-vote {
  background: transparent;
  border: 0;
  color: var(--secondary-color);
  cursor: pointer;
  margin-right: 1vw;
  padding: 0;
}

.btn-vote:disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
}

.btn-vote span {
  fill: currentColor;
  margin-right: 0.5vw;
}

.message {
  background: var(--content-bg-color);
  border: 1px solid var(--border-color);
  margin-bottom: 1vh;
  padding: 2vh 1vw;
}

.message footer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.message p {
  font-size: 1rem;
  margin: 0 0 2vh;
}

.message time {
  color: var(--secondary-color);
  font-size: 0.8rem;
}
