.header-container {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
}

.toggle-view {
  border: 0;
  background: transparent;
  color: var(--main-color);
  display: none;
}

.top-bar {
  background: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);
}

.top-bar h1 {
  font-size: 1.2rem;
  flex: 1;
  margin: 0 0.5vw;
  padding: 1.5vh 0;
}

@media only screen and (max-width: 768px) {
  .header-container {
    max-width: 100%;
  }

  .toggle-view {
    display: inline;
  }
}
